extends ../layout 
block content  
  h1 Best of book ever
  a.btn.btn-primary(href='/books/create') New
  table.table
    tr
      th Tiêu đề
      th Action 
    each val in book
      tr
        td=val.title
        span &nbsp;
        td 
          a.btn.btn-primary(href=('/books/'+ val.id)) Chi tiết
          span &nbsp;
          a.btn.btn-primary(href=('/books/'+ val.id+'/delete')) Delete
          span &nbsp;
          a.btn.btn-primary(href=('/books/'+ val.id+'/updated')) Change

