extends ./layout 
block content 
//-   nav(class="d-flex")
//-     img(src="/image/download.png")
//-     div(class="collapse navbar-collapse d-flex" id="navbarNav" style="justify-content: flex-end;
//-     padding-right: 30px;font-size: 20px;")
//-       ul(class="navbar-nav" style="flex-direction:row")
//-         li(class="nav-item active ml-2")
//-           a(class="nav-link") Home
//-         li(class="nav-item active ml-2")
//-           a(class="nav-link") Books
//-         li(class="nav-item active ml-2")
//-           a(class="nav-link") Users
//-         li(class="nav-item active ml-2")
//-           a(class="nav-link") Transaction