extends ../layout.pug

block content

  form(action="/users/"+user.id+"/updated", method="post" class="d-flex" )
      Label(class="") Name
      input(type="text" Name="name" class="form-control")
      button(class="btn btn-primary ml-2") Submit